<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="container">
          <h1>meboy</h1>
    
          <div class="menu">
            <a href="/">Home</a>
            <a href="#">Categories</a>
            <a href="#">Contact</a>
            <a href="/cart"></a>Cart</a>
          </div>
    
          <button class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </nav>


    <div>
    <img id="product"src="https://bit.ly/3Q3QFVp" alt="Product image" width="500px" height="400px"/>
    <h2 style="padding-left: 1000px; font-size: 34px;">my magical magic </h2>
    <h4 style="padding-left: 1000px;"> all u have to do is be a magical magitian and i will give u the product for free</h4>
          <br/>
          <a href="/cart"><button style=" margin-left: 1000px;"" href="/cart" class="butt">Buy Now!!</button></a>
    </div>
</body>
</html>